<h2>Employees</h2>

<% if can? :new, Employee %>
  <%= link_to "Add New Employee", new_employee_path, class: 'waves-effect waves-light btn' %> 
<% end %>
<% if can? [:employee_form, :employee_report, :employee_payroll], :payrolls_controller %>
  <%= link_to "Generate Employee Payroll", employee_form_path, class: 'waves-effect waves-light btn' %> 
<% end %>

<h3>Active Employees at Cafe23</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Assignments</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @active_employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td>
          <% if employee.current_assignment %>
            <%= employee.current_assignment.store ? employee.current_assignment.store.name : 'n/a' %>
          <% else %>
            n/a
          <% end %>
        </td>        
        <td><%= number_to_phone(employee.phone, delimiter: '-') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Inactive Employees at Cafe23</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @inactive_employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
