<div class="card">
  <div class="card-content">
    <h5>Assignment Details for <%= @assignment.employee.name %></h5><br />

    <b>Employee:&nbsp;&nbsp;</b>
      <%= @assignment.employee.name %><br /><br />

    <b>Store:&nbsp;&nbsp;</b>
      <%= @assignment.store.name %><br /><br />
    
    <b>Pay Grade Level:&nbsp;&nbsp;</b>
      <%= @assignment.pay_grade.level %><br /><br />

    <b>Start Date:&nbsp;&nbsp;</b>
    <%= @assignment.start_date %><br /><br />
    
    <b>End Date:&nbsp;&nbsp;</b>
    <%= @assignment.end_date %><br /><br />

  </div>
</div>
