<div class="card">
  <div class="card-content">
    <h5>Store Information for <%= @store.name %></h5><br />

    <b>Address:&nbsp;&nbsp;</b>
      <%= @store.street %><br>
      <%= @store.city %>
      <%= @store.state %>
      <%= @store.zip %>
      <br /><br />

    <b>Phone:&nbsp;&nbsp;</b>
      <%= @store.phone %><br /><br />

    <b>Active in Cafe23?&nbsp;&nbsp;</b>
      <%= @store.active ? "Yes" : "No" %><br><br><br>
  </div>
</div>
