<h2>Stores</h2>
<% if can? [:store_form, :store_report, :store_payroll], :payrolls_controller %>
  <div style="text-align: left;">
  <%= link_to "Generate Store Payroll", store_form_path, class: 'waves-effect waves-light btn' %> 
  </div>
<% end %>

<% if @active_stores.empty? %>
  <h4>There are no owners in the system at this time.</h4>
<% else %>
  <h3>Active Stores owned by Cafe23</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Current Assignments</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <% @active_stores.each do |store| %>
        <tr>
          <td><%= link_to "#{store.name}", store_path(store) %></td>
          <td><%= store.assignments.size %></td>
          <td><%= number_to_phone(store.phone, delimiter: '-') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Inactive Stores</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>