<h3> Generate Payroll for Employee </h3>

<div class="row">
  <div class="col s9">
    <div class="card">    
      <div class="card-content">
        <%= simple_form_for :payroll, url: employee_payroll_path, method: "get", local: true do |f| %>
        <div class="row">
          <div class="form-inputs">
            <%= f.input :employee_id, collection: Employee.active.alphabetical.all %><br>
            <%= f.input :start_date, as: :date, label_html: { class: 'active' }%>
            <%= f.input :end_date, as: :date, label_html: { class: 'active' } %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-actions col s7">
    <%= f.button :submit, class: 'waves-effect waves-light btn'  %>
  </div>
</div>

<%= link_to 'Back', :back %>

<% end %>
