<h3> Generate Payroll for Store </h3>

<div class="card">    
  <div class="card-content">
    <%= form_with url: store_payroll_path, method: "get", local: true do |f| %>
      <div class="control-group">
        <%= f.label :id, "Store" %>
        <div class="controls">
          <%= f.collection_select :id, Store.active.alphabetical.all, :id, :name, {}, { class: "form-control" } %>
          <%= f.date_field :start_date %>
          <%= f.date_field :end_date %>
        </div>
      </div>
   </div>
</div>

<div class="row">
  <div class="form-actions col s7">
    <%= f.button :submit, class: 'waves-effect waves-light btn'  %>
  </div>
</div>

<%= link_to 'Back', :back %>

<% end %>