<h3> Payroll Report </h3>

<div class="card">    
  <div class="card-content">
    <h5>Time Period:</h5>
    <p><%= @start_date.strftime("%B %d, %Y") %> - <%= @end_date.strftime("%B %d, %Y") %></p>

  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>SSN</th>
        <th>Pay Grade</th>
        <th>Pay Rate</th>
        <th>Hours Worked</th>
        <th>Money Earned</th>
      </tr>
    </thead>
    <tbody>
      <% @store_payroll.each do |record| %>
        <tr>
          <td><%= record.employee.proper_name %></td>
          <td><%= record.ssn %></td>
          <td><%= record.pay_grade %></td>
          <td><%= record.pay_rate %></td>
          <td><%= record.hours %></td>
          <td><%= record.pay_earned %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
</div>