<div class="row">  
  <h3>Welcome to Cafe23!</h3>  

  <% if current_user %>
    <% if current_user.admin_role? %>
      <h5>Quick Actions:</h5>
      <%= link_to 'Payroll for Employee', employee_form_path, class: 'waves-effect waves-light btn' %>
      <br><br>
      <%= link_to 'Payroll for Store', store_form_path, class: 'waves-effect waves-light btn' %>
      <br><br>
      <%= link_to 'Create New Employee', new_employee_path, class: 'waves-effect waves-light btn' %>
    <% end %>

    <% if current_user.manager_role? %>
      <h5>Quick Actions:</h5>
      <%= link_to 'Payroll for Store', store_form_path, class: 'waves-effect waves-light btn' %>
      <br><br>
      <%= link_to 'Create New Shift', new_shift_path, class: 'waves-effect waves-light btn' %>
      <br><br>
      <%= link_to 'Record A Job', new_job_path, class: 'waves-effect waves-light btn' %>
    <% end %>

    <% if current_user.employee_role? %>
      <h4>Below is a list of your upcoming shifts.</h4>
      <table class="striped highlight"> 
        <thead> <th>Shift</th> 
        <th class="align_center">Options</th> 
        </thead> 
        <% for shift in current_user.shifts.upcoming %> 
        <tr> 
          <td><%= link_to "#{shift.id}", shift_path(shift) %></td> 
          <td class="align_center"> 
            <%= link_to(time_clock_path(shift)) do %> 
            <i class="material-icons">Start</i> 
            <% end %> 
          </td> 
        </tr> 
        <% end %> 
      </table>
    <% end %>

  <% else %>
    <p>We're a cafe chain that's passionate about coffee, food, and community. 
       We believe that great coffee can bring people together, and we're committed to providing our customers with the best possible experience.</p>
    <p>Our coffee is roasted in-house daily, and we offer a wide variety of coffee drinks, as well as pastries, sandwiches, and salads. 
       We also have a full bar, serving beer, wine, and cocktails.</p>
    <p>Our cafes are designed to be inviting and comfortable, and we offer free Wi-Fi and plenty of seating. We also have outdoor seating in our locations.</p>
    <p>We hope you'll come visit us soon and experience the Cafe23 difference!</p>
    <%= link_to 'Login', login_path, class: 'waves-effect waves-light btn' %>
    <br><br>
  <% end %>

</div>