<div class="card">
  <div class="card-content">
    <h5>Shift Information for <%= @shift.employee.name %></h5><br />

    <b>Shift Employee:&nbsp;&nbsp;</b>
      <%= @shift.employee.name %><br /><br />

    <b>Shift Date:&nbsp;&nbsp;</b>
      <%= @shift.date %><br /><br />

    <b>Start Time:&nbsp;&nbsp;</b>
      <%= @shift.start_time %><br /><br />

    <b>End Time:&nbsp;&nbsp;</b>
      <%= @shift.end_time %><br /><br />
    
    <b>Status:&nbsp;&nbsp;</b>
      <%= @shift.status %><br /><br />

    <b>Notes:&nbsp;&nbsp;</b>
      <%= @shift.notes %><br><br><br>
  
  </div>
</div>