<h2>Shifts</h2>
<% if can? :new, Shift %>
  <%= link_to "Add New Shift", new_shift_path, class: 'waves-effect waves-light btn' %> 
<% end %>

<h3>Upcoming Shifts</h3>
<h6>Shifts scheduled for today and future dates. 
    A shift that has finished today will not be moved to Completed Shifts until tomorrow.</h6>
<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.upcoming.each do |shift| %>
      <tr>
        <td><%= link_to "#{shift.employee.name}", shift_path(shift) %></td>
        <td><%= shift.date.strftime("%m/%d/%y") %></td>
        <td><%= shift.start_time.strftime("%H:%M") %></td>
        <td><%= shift.end_time.strftime("%H:%M") %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Completed Shifts</h3>
<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.completed.each do |shift| %>
      <tr>
        <td><%= link_to "#{shift.employee.name}", shift_path(shift) %></td>
        <td><%= shift.date.strftime("%m/%d/%y") %></td>
        <td><%= shift.start_time.strftime("%H:%M") %></td>
        <td><%= shift.end_time.strftime("%H:%M") %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<h3> All Shift History </h3>
<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= link_to "#{shift.employee.name}", shift_path(shift) %></td>
        <td><%= shift.date.strftime("%m/%d/%y") %></td>
        <td><%= shift.start_time.strftime("%H:%M") %></td>
        <td><%= shift.end_time.strftime("%H:%M") %></td>      
      </tr>
    <% end %>
  </tbody>
</table>