<!DOCTYPE html>
<html>
  <head>
    <title>Cafe23 Management System</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans|Nunito|Varela+Round" %>
  </head>

  <body>
    <header>

    </header>
    <main>

          <%= yield %>

    </main>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>   
  </body>
</html>